################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ai.scratchpad/obj
/.vs
/src/ai.scratchpad/.vs/ai.scratchpad
/src/.vs/ai.scratchpad/v17/.suo
/src/ai.scratchpad/bin/Debug/net8.0
/src/ai.scratchpad/appsettings.Local.json
